*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 98vw;
}